<!DOCTYPE html>
<html>
	<% include ../Home/head %> 
	<body>
		<br>
		<br>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1 class="text-center">Lista de usuarios</h1>
					<% include table %>
				</div>
				<div class="col-md-4">
					<h1 class="text-center">Registrarse</h1>
					<% include form_create %>
				</div>
			</div>
		</div>
		<% include ../Home/footer %> 
	</body>
</html>