<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>EJERCICIO COATI</title>
		<link rel="stylesheet" type="text/css" href="Css/style.css">
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
	</head>
	<body>
		<br>
		<br>
		<br>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center">EDITAR</h1>
				</div>
			</div>
		</div>
	</body>
</html>