<div class="container">
	<div class="wrapper">
		<div class="item-form">
			<h1 class="text-center">LOGIN</h1>
			<form action="/" method="POST" accept-charset="utf-8" class="form-group">
				<div class="form-group">
					<input type="text" id="email" name="email" placeholder="Correo:" class="form-control" required>
				</div>
				<div class="form-group">
					<input type="password" id="password" name="password" placeholder="Contraseña" class="form-control" required>
				</div>
				<div class="form-group">
					<div class="container padding-none">
						<div class="row margin-none">
							<button type="submit" class="btn btn-primary col-md-3">Iniciar Sesión</button>
							<a href="/registrar" class="btn btn-success offset-md-6 col-md-3">Registrar</a>
						</div>
					</div>
				</div
			</form>
		</div>
	</div>
</div>